{# TODO : manage errors display #}
<div class="container d-flex justify-content-center">
    <div class="w-50">
        <form method="post" enctype="multipart/form-data">
            <div class="d-flex flex-column  my-2">
                <input class="form-control" type="hidden" value="{{ annonce.id }}" name="id">
                <label class="form-label" for="titre_annonce">Titre de l'annonce</label>
                <input class="form-control" type="text" value="{{ annonce.titre_annonce }}" name="titre_annonce"
                       id="titre_annonce">
                {% if error.titre_annonce is not empty %}
                    <p style="color: red">{{ error['titre_annonce'] }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="prix_depart">Prix de départ</label>
                <input class="form-control" type="text" value="{{ annonce.prix_depart }}" name="prix_depart"
                       id="prix_depart">
                {% if error.prix_depart is not empty %}
                    <p style="color: red">{{ error['prix_depart'] }}</p>
                {% endif %}
            </div>

            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="date_fin_enchere">Date de fin</label>
                <input class="form-control " type="text" value="{{ annonce.date_fin_enchere }}" name="date_fin_enchere"
                       id="date_fin_enchere">
                {% if error.date_fin_enchere is not empty %}
                    <p style="color: red">{{ error['date_fin_enchere'] }}</p>
                {% endif %}
            </div>

            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="modele">Modèle</label>
                <input class="form-control " type="text" value="{{ annonce.modele }}" name="modele" id="modele">
                {% if error.modele is not empty %}
                    <p style="color: red">{{ error['modele'] }}</p>
                {% endif %}
            </div>

            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="marque">Marque</label>
                <input class="form-control " type="text" value="{{ annonce.marque }}" name="marque" id="marque">
                {% if error.marque is not empty %}
                    <p style="color: red">{{ error['marque'] }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="puissance">Puissance</label>
                <input class="form-control " type="text" value="{{ annonce.puissance }}" name="puissance" id="puissance">
                {% if error.puissance is not empty %}
                    <p style="color: red">{{ error['puissance'] }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="annee">Année</label>
                <input class="form-control " type="text" value="{{ annonce.annee }}" name="annee" id="annee">
                {% if error.annee is not empty %}
                    <p style="color: red">{{ error['annee'] }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control"  value="{{ annonce.description }}" name="description"
                          id="description" rows="3"></textarea>
                {% if error.description is not empty %}
                    <p style="color: red">{{ error['description'] }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column  my-2">
                <label class="form-label" for="photo">Photo</label>
                <input class="form-control " type="file" value="{{ annonce.photo }}" name="photo" id="photo">
                {% if error.photo is not empty %}
                    <p style="color: red">{{ error['photo'] }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column  my-2">
                <button class="btn btn-outline-warning mt-2 mb-2 mt-3 w-25">Submit</button>
            </div>
        </form>
    </div>
</div>
