{% extends 'layout.html.twig' %}

{% block content %}
    {{ dump(userData) }}
    <section class="main cd-main-homepage">
        <div class="container cd-homepage-container mb-5">
            <div class="row mb-4 mt-4 cd-h1-section">
                <h1 class="cd-h1">Liste des annonces : <span class="cd-h1-span">Faites vos jeux, rien ne va plus !</span></h1>
            </div>
            <div class="row align-items-center mb-4 cd-filter-marque d-flex  ">
                <p class="col-auto cd-filter-title mb-0  pe-3 pb-3">Filter par marque:</p>
                <div class="w-100">
                <button class="col-auto btn btn-outline-warning cd-button-marque fs-6 m-1 rounded-3"><a href="/">Toutes</a></button>
                    {% set maVariable = '' %}
                    {% for annonce in annonces %}
                        {% if maVariable != annonce.marque %}
                            <button class="col-auto btn btn-outline-warning cd-button-marque m-1 rounded-3 "> <a href="/?marque={{ annonce.marque }}">{{ annonce.marque }}</a></button>
                        {% endif %}
                        {% set maVariable = annonce.marque %}
                    {% endfor %}
                </div>
            </div>
            <div class="row align-items-center mb-2 cd-ordre-alphabet">
                <p class="col-auto cd-ordre-title mb-0 pe-3">Ordre alphabétique:</p>
                <button id="sort-asc" class="col-auto btn btn-outline-warning cd-button-ordre m-1 rounded-3">Croissant</button>
                <button id="sort-desc" class="col-auto btn btn-outline-warning cd-button-ordre m-1 rounded-3">Décroissant</button>
            </div>
            <div id="cd-container-card" class="row cd-container-card d-flex justify-content-center">
                {% for annonce in annonces %}
                    <div class="col-md-2 m-2 cd-card">
                        <div class="cd-image-container">
                            <img src="/assets/images/{{ annonce.photo }}" class="cd-image-card img-fluid">
                        </div>
                        <p class="cd-model">{{ annonce.modele }}</p>
                        <div class="cd-titre-annonce">{{ annonce.titre_annonce }}</div>
                        <button class="btn btn-outline-warning m-2 cd-button-detail"><a class="cd-detail" href="/annonce/show?id={{ annonce.id }}">Détail</a></button>
                    </div>
                {% else %}
                    <li>Nothing to display</li>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
