{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="border rounded-top mb-0 mt-3 bg-light text-center p-3">{{ annonce.titre_annonce }}</h1>
        <div class="border row">
            <div class="col m-3">
                <img class="w-75 rounded" src="/assets/images/{{ annonce.photo }}" alt="{{ annonce.marque }} {{ annonce.modele }}" />
            </div>
            <div class="col m-3">
                <h2 class="font-weight-bold">{{ annonce.marque }} {{ annonce.modele }}.</h2>
                <p>Année: {{ annonce.annee }}</p>
                <p>Puissance: {{ annonce.puissance }} CH.</p>
                <p>Description: {{ annonce.description }}</p>
                <p>Prix de départ: {{ annonce.prix_depart }} €.</p>
                <div>
                    {% if enchere == false %}
                        <p class="bg-dark text-yellow p-2 text-align-center">Aucune enchère n'a encore été déposée pour cette annonce !</p>
                    {% else %}
                        <div>
                            <h2>La meilleur offre est:</h2>

                            <p>{{ enchere.date|date("d/m/Y H:i") }} {{ enchere.nom }} {{ enchere.prenom }}: {{ enchere. montant_max}} €</p>
                        </div>
                    {% endif %}

                            <form method="post" class="d-flex">
                                <label class="form-label me-2 d-flex align-items-center mb-0 " for="montant">Votre montant:</label>
                                <input class="form-control w-25 me-3" type="number" name="montant" id="montant">
                                <button class=" btn btn-outline-warning show-button p-2">Faire l'offre!</button>
                            </form>
                </div>
            </div>
        </div>
        <div class="row border rounded-bottom bg-light mb-3">
            <div class="col ms-3">
            <p>Date de fin d'enchère: {{ annonce.date_fin_enchere|date("d/m/Y H:i") }}</p>
            </div>
            <div class="col m-3 text-end">
            <a class="show-button btn btn-outline-warning" href="/">Retourner à la liste</a>

                {% if not userData %}
            <a class="show-button btn btn-outline-warning" href="/user/login">Se connecter et proposer une enchère</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
