{% extends 'layout.html.twig' %}

{% block content %}
    {% dump(annonce) %}
    <h1>Annonce {{ annonce.titre_annonce }}</h1>
    <p>{{ annonce.uid_annonce }}. {{ annonce.titre_annonce }}</p>
    <a href="/annonce/edit?id={{ annonce.uid_annonce }}">Edit</a>
    <form action="/annonce/delete" method="POST">
        <input type="hidden" name="id" value="{{ annonce.uid_annonce }}">
        <button>Delete</button>
    </form>
    <a href="/annonce">Back</a>
{% endblock %}
